.cart-container {
  position: fixed;
  right: 0;
  height: 100vh;
  background: #EFF3F4;
  width: 350px;
  top: 0;
  z-index: 999;
  transform: translate3d(350px, 0, 0);
  transition: 0.3s ease-out all;
}

.cart-container.active {
  transform: translate3d(0, 0, 0);
  transition: 0.3s ease-out all;
  box-shadow: -5px 0px 34px rgba(185,191,214,0.86);
}

.cart-header {
  padding: 10px 20px;
  background: white;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-header span {
  display: block;
  background: #eee;
  padding: 5px;
  font-size: 14px;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  font-family: 'Open Sans Condensed', sans-serif;
}

.cart-header h4 {
  margin: 0;
}

.cart-header svg{
  width: 15px;
  cursor: pointer;
}

.cart-item-list-container{
  padding: 20px 15px;
  background: white;
}

.cart-item {
  display: flex;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.cart-item__image-container {
  flex: 1;
  background-size: 100%;
  background-position: center;
  padding-top: 20%;
}

.cart-item__info {
  flex: 3;
  padding:0 10px;
  font-size: 14px;
}

.cart-item__bottom-info {
  margin-top:5px;
  display: flex;
  justify-content: space-between;
}

.cart-item__bottom-info .price {
  color: #888;
}

.cart-controls {
  border: 1px solid #ccc;
}

.cart-controls input {
  max-width: 30px;
  border: 0;
  text-align:center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.cart-controls button {
  border-radius: 0;
  outline: 0;
  border: 0;
  padding: 0 7px;
}

.checkout {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  width: 95%;
  background: #54BB77;
  color: white;
  left: 2.5%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-content: center;
  box-sizing: border-box;
}

.checkout div {
  font-family: 'Open Sans Condensed', sans-serif;
}