
.products-container{
  width: 100vw;
  padding: 40px;
  display: grid;
  grid-template-columns:  minmax(300px, 1fr) 5fr;
}

.product-filter{
  width: 100%;
  position: relative;
}

.product-list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 330px));
  grid-gap: 30px;
}

.product-card {
  cursor: pointer;
  background: white;
  box-shadow: 0 4px 34px rgba(185,191,214,0.26);
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 100%;
  padding-top: 80%;
  background-size: cover;
  background-position: center;
}

.product-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product-info button {
  margin-top: auto;
  border-radius: 2px;
  border: 1px solid #ccc;
  background: white;
  width: 100%;
  padding: 10px;
  text-transform: uppercase; 
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  outline: 0;
  font-size: 12px;
}

.product-info button:hover {
  background: #54BB77;
  border: 1px solid #54BB77;
  color: white;
  transition: 0.1s ease-in-out all;
}

.product-info h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: .5px;
}
.product-info p {
  color: #888;
  margin-bottom: 20px;
}

.nutrition-container {
  display: flex;
  width: 100%;
  background: rgba(255,255,255,0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: 0.2s ease-out all;
}

.product-card:hover .nutrition-container {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.2s ease-out all;
}

.nutrition {
  text-align: center;
  flex: 1;
  font-size: 12px;
  padding: 20px 0;
}

.nutrition p {
  margin: 0;
}

.nutrition .nutrition-label {
  margin-top:5px;
  color: #666;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: .45px;
}

/* filter */
.product-filter__inner{
  position: fixed;
  padding: 20px;
}

.product-filter__inner-bg {
  width: 250px;
  background: white;
  padding: 10px 40px 40px;
  border-radius: 3px;
}

.product-filter__inner-bg input[type="checkbox"]{
  position: relative;
  appearance: none;
  -webkit-appearance: none;
}

.product-filter__inner-bg .checkbox-container label{
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.product-filter__inner-bg input[type=checkbox] + label:before {
  content: " ";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  display: block;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-top: -1px;
}

.product-filter__inner-bg input[type=checkbox]:checked + label:before {
  background: #54BB77;
  border: 1px solid #54BB77;
}

@media only screen and (max-width: 768px) {
  .products-container {
    grid-template-columns: 1fr;
  }
  .product-list {
    padding-top: 150px;
    grid-template-columns: 1fr;
  }
  .product-filter{
    display: none;
    position: relative;
  }
}